<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        body {
            text-align: center;
            background-color: antiquewhite;
        }

        table {
            width: 80%;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <h1>細懸浮微粒資料(PM2.5)</h1>
    <table border="1">
        <thead>
            <tr>
                {%for column in columns%}
                <th>
                    {{column}}
                </th>
                {%endfor%}
            </tr>
        <tbody>
            {%for data in datas%}
            <tr>
                {%for row in data%}
                <td>
                    {{row}}
                </td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
        </thead>
    </table>
</body>

</html>